<h2 class="screen-align">Employeeinsert</h2>
<div class="">
    <div id="template-iz62" class="gjs-row">
        <div id="template-ilf9" class="gjs-cell">
            <input type="text" id="template-i4e2" required="true" placeholder="Enter the name"
            [(ngModel)]="employee.name" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
        <div id="template-il6i" class="gjs-cell">
            <input type="text" id="template-iynx" placeholder="Enter the age" required="true"
            [(ngModel)]="employee.age" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
    </div>
    <div type="button" id="template-i3bi" class="btn btn-primary ">Submit</div>
</div>